/* Mobile and Tablet */
@media (max-width: 36.9375em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 12px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    #footer .socials-list {
        font-size: 48px; 
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 8px 0;
        display: inline-block;
    }

}



/* Mobile */

@media (max-width: 46.1875em) {
    
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }

    #nav li a {
        padding: 1px 24px;
    }


    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }

}